<!DOCTYPE html>

<style>
   /* tr:nth-child(even) { background-color: #d8d8d8;}

    tr:hover {background-color:#f5f5f5;}*/

    input.tableinput { border-width:0px;border:none;}

    .column {
        float: left;
        width: 50%;
    }

</style>

<html lang="en">
    <head>
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
            <title>Players</title>
            </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">ControlAltDefeat</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('home')}}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('players')}}">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('reports')}}">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('plays')}}">Plays</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <br><h4>players.html</h4><br>
            <h5><u>Players</h5></u>
            <br>

            <table id="players" align="center" style="width:80%" border = 1>

                {% if result %}
                <tr>
                    <th>Player Name</th>
                    <th>Position</th>
                    <th>Player Tag</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Active?</th>
                    <th></th>
                </tr>

                {% for row in result %}

                <!-- FORM TYPE: EDIT-->
<!--                <form action = "{{ url_for('players') }}" method = "POST" id="edit">-->
<!--                    <tr>-->
<!--                        <td > {{row["name"]}}</td>-->
<!--                        <td > {{row["position"]}}</td>-->
<!--                        <td > {{ row["playerTag"]}}</td>-->
<!--                        <td > {{ row["height"]}}</td>-->
<!--                        <td > {{ row["weight"]}}</td>-->
<!--                        <td > {{ row["active"]}}</td>-->
<!--                        <td><input type = "submit" value = "Edit" /></td>-->
<!--                    </tr>-->
<!--                    <input type="hidden" name="form_type" value="EDIT">-->
<!--                </form>-->

                <form action = "{{ url_for('players') }}" method = "POST" id="edit" autocomplete="off">
                    <tr>
                        <td width="40%"> <input style="border:none" type="text" name="name"    value='{{row["name"]}}'/> </td>
                        <td width="10%"> <input style="border:none" type="text" name="position" value='{{row["position"]}}' /> </td>
                        <td width="20%"> <input style="border:none" type="text" name="playerTag" value='{{row["playerTag"]}}' required/> </td>
                        <td width="10%"> <input style="border:none" type="text" name="height"   value='{{row["height"]}}' /> </td>
                        <td width="10%"> <input style="border:none" type="text" name="weight"   value='{{row["weight"]}}' /> </td>
                        <td> <input style="border:none" type="text" name="active"   value='{{row["active"]}}' /> </td>
                        <td><input type = "submit" value = "Edit" />
                    </tr>
                    <input type="hidden" name="form_type" value="EDIT">
                </form>

                {% endfor %}
                {% endif %}

            </table><br>

            <div class = "container">
            <div class="column">
            <!-- FORM TYPE: INSERT-->
            <fieldset>
                <form action = "{{ url_for('players') }}" method = "POST" id="add">
                    <br>
                    <h5><u>Insert New Player</h5></u>
                    Player Name<br>
                    <input id="name" type = "text" name = "name" /></br>

                    Position<br>
                    <input id="position" type = "text" name = "position" /></br>

                    Player Tag<br>
                    <input id="playerTag" type = "text" name = "playerTag" required/><br>

                    Height<br>
                    <input id="height" type = "text" name = "height" /><br>

                    Weight<br>
                    <input id="weight" type = "text" name = "weight" /><br>

                    Active?<br>
                    <input id="active" type = "text" name = "active" /><br>

                    <input type ="submit" value = "Submit" /><br>
                    <input type="hidden" name="form_type" value="INSERT">
                        </form>
            </fieldset>
            </div>

            <!-- FORM TYPE: DELETE (by playerTag)-->
            <div class="column">
            <br>
            <h5><u>Remove a Player</h5></u>
            <br>
            <form action = "{{ url_for('players') }}" method = "POST" id="delete">
                {% for row in result %}
                <input type="radio" name="deletePlayer" value='{{row["playerTag"]}}' /> <label for='{{row["playerTag"]}}'> {{row["name"]}}</label><br>
                {% endfor %}
                <input type ="submit" value = "Submit" /><br>
                <input type="hidden" name="form_type" value="DELETE">
            </form>
            </div>
            </div>
            <script src="../static/jquery.min.js"></script>
            <script src="../static/bootstrap.bundle.min.js"></script>

            </body>

    </div>
</html>
