
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                    <meta name="author" content="">

                        <title>index.html</title>

                        <!-- Bootstrap core CSS -->
                        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
                        <!-- jQuery CDN -->
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

                            </head>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">ControlAltDefeat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('home')}}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('players')}}">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('reports')}}">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('plays')}}">Plays</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <body>

            <br><h4>Drive Charts</h4><br>

                {% if result %}
		<form name="generateDrives" action = "{{url_for('plays') }}" method = "POST" id="generateDrives">
		    <input type="submit" value="Generate Drives">
		    <input type="hidden" name="form_type" value="GENERATE_DRIVES">
	    	    <select id="selectGame" name="selectGame">
			{% for row in result %}
			    <option value="{{row}}">{{row}}</option>
			{% endfor %}
		    </select>
		</form>
		{% endif %}

            {% if data %}
	    <table id="legend" align="center" style="width:40%" border = 1>
	    	<tr> 
		   <th>Range</th>
		   <th>Color</th>
		</tr>
		<tr>
		    <td>gain &lt= -5</td>
		    <td style="background-color: rgb(255, 0, 0)">Red</td>
		</tr>
		<tr>
		    <td>-4 &lt= gain &lt= -1</td>
		    <td style="background-color: rgb(255, 204, 204)">Varying light reds</td>
		</tr>
		<tr>
		    <td>gain = 0</td>
		    <td style="background-color: rgb(205, 201, 201)">Gray</td>
		</tr>
		<tr>
		    <td>1 &gt= gain &gt= 9</td>
		    <td style="background-color: rgb(128, 255, 128)">Varying light greens</td>
		</tr>
		<tr>
		    <td>gain &gt= 10</td>
		    <td style="background-color: rgb(0, 255, 0)">Green</td>
		</tr>
	    </table>

	    <br>

            <table id="drives" align="center"  style="width:80%" border = 1>

                <tr>
                    <th>Series</th>
                    <th>Down</th>
                    <th>Dist</th>
                    <th>Run/Pass</th>
                    <th>FieldPos</th>
                    <th>Gain</th>
                    <th>Result</th>
                    <th>Explosive?</th>
                    <th></th>
                </tr>

                
	    {% for series in data %}
                {% for row in series %}

                    <tr>
			
                        <td> <input  style="border:none" type="text" name="Series"    value='{{row["Series"]}}'/> </td>
                        <td> <input style="border:none" type="text" name="Down"    value='{{row["Down"]}}'/> </td>
                        <td> <input style="border:none" type="text" name="Distance" value='{{row["Dist"]}}' /> </td>
                        <td> <input style="border:none" type="text" name="Run/Pass" value='{{row["Run/Pass"]}}' required/> </td>
                        <td> <input style="border:none" type="text" name="FieldPos"   value='{{row["FieldPos"]}}' /> </td>
                        <td> <input style="border:none" type="text" name="Gain"   value='{{row["Gain"]}}' /> </td>
                        <td> <input style="border:none" type="text" name="Result"   value='{{row["Result"]}}' /> </td>
                        <td> <input style="border:none" type="text" name="Explosive"   value='{{row["Explosive"]}}' /> </td>
                    </tr>

                {% endfor %}
                    <tr>
			
                        <td> <input style="border:none" type="text" name="Series"    value=''/> </td>
                        <td> <input style="border:none" type="text" name="Down"    value=''/> </td>
                        <td> <input style="border:none" type="text" name="Distance" value='' /> </td>
                        <td> <input style="border:none" type="text" name="Run/Pass" value='' required/> </td>
                        <td> <input style="border:none" type="text" name="FieldPos"   value='' /> </td>
                        <td> <input style="border:none" type="text" name="Gain"   value='' /> </td>
                        <td> <input style="border:none" type="text" name="Result"   value='' /> </td>
                        <td> <input style="border:none" type="text" name="Explosive"   value='' /> </td>
                    </tr>
		{% endfor %}
                {% endif %}

        </body>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="static/drives.js"></script>


</html>
